<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>-<%= subtitle %></title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <base href="http://otsj38ccn.bkt.clouddn.com/"/>
    <link rel="stylesheet" href="/stylesheets/style-v1.css" />
  </head>
  <body>
    <div class="body">
      <h1 class="title"><%= title %></h1>
      <p class="hint">1小时焚毁，速听速转</p>
      <div id="subtitle" class="subtitle"><%= subtitle %></div>
      <div id="share" class="share"><button onclick="share()">分享到朋友圈</button></div>
      <div class="long_play">
        <div id="burned" class="burned" style="display:<%= burned_display %>">
          <img class="fire" src="/images/fire@3x.png">来晚了，已焚毁</img>
        </div>
        <div id="long_play_vinyl" class="long_play_vinyl" style="display:<%= vinyl_display %>">
          <div class="long_play_cover">
              <img id="control" onclick="playOrPause()" class="control" src="/images/stopbig@3x.png"/>
          </div>
        </div>
      </div>

      <div id="new_record" class="new_record">
        <button onclick="newRecord()">我来录一段</button>
      </div>
    </div>

    <script src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
    <script src='/javascripts/asdf-v1.js'></script>
    <script>
wx.config({
  //debug: true,
  debug: false,
  appId: '<%= app_id %>',
  timestamp: '<%= timestamp %>',
  nonceStr: '<%= noncestr %>',
  signature: '<%= signature %>',
  jsApiList: [
    'startRecord',
    'stopRecord',
    'onVoiceRecordEnd',
    'playVoice',
    'pauseVoice',
    'stopVoice',
    'onVoicePlayEnd',
    'uploadVoice',
    'downloadVoice',
  ]
});

(function(){
  asdf.subtitle = "<%= subtitle %>";
  asdf.server_id = "<%= server_id %>";
})();
    </script>
  </body>
</html>
